<div class="h-screen bg-green-200 flex items-center justify-center p-5 w-screen">

    <div class="w-1/2 p-2">
    <%= form_for @category do |f| %>
            <div class="field font-bold text-xl">
                <label>📝 Modifying category:</label><br /><br />
                <%= f.text_field :name, autocomplete: :off, class: 'w-full text-base text-black p-3 rounded', placeholder: 'enter name' %>
            </div>
            <% if @category.errors.any? %>
                        <ul classs="validation-message">
                            <% @category.errors.full_messages.each do |message| %>
                                <li style="list-style-type:none; color:#ff2e46;"><%= message.downcase %></li>
                            <% end %>
                        </ul>
            <% end %><br />

            <div class="actions flex justify-center gap-10">
                <%= f.submit '✔ Submit', data: {confirm: 'Are you sure?'}, class: 'bg-green-700 p-2 rounded text-white hover:bg-red-700 text-white'%>
                
                <%= link_to '👈 categories', categories_path, class: 'bg-green-700 p-2 rounded text-white hover:bg-red-700 text-white' %>
            </div>
    <% end %>
    </div>
</div>
    